<%= form_for(@rating) do |f| %>
  <% if @rating.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rating.errors.count, "error") %> prohibited this rating from being saved:</h2>

      <ul>
      <% @rating.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :beer_name %><br>
    <%= collection_select :name, :beer_id, Beer.all.order(:name), :id, :name, {}, {size: 10, data: {select: :name} } %>
  </div>
  <div class="field">
    <%= f.label :hoppy %><br>
    <%= f.range_field :hoppy, :min=>0, :max=>5, :class=>"slide" %>
  </div>
  <div class="field">
    <%= f.label :malty %><br>
    <%= f.range_field :malty, :min=>0, :max=>5, :class=>"slide" %>
  </div>
  <div class="field">
    <%= f.label :crisp %><br>
    <%= f.range_field :crisp, :min=>0, :max=>5, :class=>"slide" %>
  </div>
  <div class="field">
    <%= f.label :fruity %><br>
    <%= f.range_field :fruity, :min=>0, :max=>5, :class=>"slide" %>
  </div>
  <div class="field">
    <%= f.label :funky %><br>
    <%= f.range_field :funky, :min=>0, :max=>5, :class=>"slide" %>
  </div>
  <div class="field">
    <%= f.label :roasted %><br>
    <%= f.range_field :roasted, :min=>0, :max=>5, :class=>"slide" %>
  </div>
  <div class="field">
    <%= f.label :smoky %><br>
    <%= f.range_field :smoky, :min=>0, :max=>5, :class=>"slide" %>
  </div>
  <div class="field">
    <%= f.label :rating_date %><br>
    <%= f.date_select :rating_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
