<h1>Listing ratings</h1>

<table>
  <thead>
    <tr>
      <th>Beer name</th>
      <th>Hoppy</th>
      <th>Malty</th>
      <th>Crisp</th>
      <th>Fruity</th>
      <th>Funky</th>
      <th>Roasted</th>
      <th>Smoky</th>
      <th>Rating date</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ratings.each do |rating| %>
      <tr>
        <td><%= rating.beer_id %></td>
        <td><%= rating.hoppy %></td>
        <td><%= rating.malty %></td>
        <td><%= rating.crisp %></td>
        <td><%= rating.fruity %></td>
        <td><%= rating.funky %></td>
        <td><%= rating.roasted %></td>
        <td><%= rating.smoky %></td>
        <td><%= rating.rating_date %></td>
        <td><%= link_to 'Show', rating %></td>
        <td><%= link_to 'Edit', edit_rating_path(rating) %></td>
        <td><%= link_to 'Destroy', rating, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rating', new_rating_path %>
<%= link_to "Beers", beers_path(@beers) %>
<%= link_to "Homepage", root_path(@root) %>
